.consultant-level li:hover,.consultant-level li label:hover{
    background: lightgray;
    cursor: pointer;
}
.levelList-open{
    height: fit-content;
    width: 100%;
    overflow: hidden;
    transition: height 1.5s;
}
.levelList-close{
    height: 0;
    width:0;
    overflow: hidden;
    transition: height 1.5s;
}