.container_main {
  width: 100%;
}
.subcribe_save {
  color: rgba(124, 83, 153, 1);
}
.topheadder {
  display: flex;
  flex-direction: row;
}
.box_1,
.box_2 {
  width: 50%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: grey;
}
.box_1 {
  border-bottom: 2px solid black;
  font-weight: 600;
  color: black;
}
.box_3 {
  padding: 8%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.ul > li {
  padding: 4px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.ul {
  margin-left: -38px;
}
.box_4 {
  display: flex;

  align-items: center;
}
.submit_btn {
  padding: 15px 25px 15px 0px;
}
.button_book {
  width: 100%;
  background-color: rgba(124, 83, 153, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.box_4 > p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
